<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>blog-membership</title>
</head>
<body>
<section class="blogCollection" >
    <div class="collectionContainer">
        <div class="card">
            <div class="cardHeader">
                <h2 class="card-title">제목</h2>
                <p class="card-text">가격</p>
            </div>
            <div class="membershipButton">
                <button>가입하기</button>
            </div>
            <div class="card-body">
                <p class="card-text">내용</p>
            </div>
        </div>
    </div>
    <div class="collectionContainer">
        <div class="card">
            <div class="cardHeader">
                <h2 class="card-title">제목</h2>
                <p class="card-text">가격</p>
            </div>
            <div class="membershipButton">
                <button>가입하기</button>
            </div>
            <div class="card-body">
                <p class="card-text">내용</p>
            </div>
        </div>
    </div>
    <div class="collectionContainer">
            <div class="card">
                <div class="cardHeader">
                    <h2 class="card-title">제목</h2>
                    <p class="card-text">가격</p>
                </div>
                <div class="membershipButton">
                    <button>가입하기</button>
                </div>
                <div class="card-body">
                    <p class="card-text">내용</p>
                </div>
            </div>
        </div>
</section>
</body>
</html>