<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>blog-collection</title>

</head>
<body>
<section class="blogHome">
    <form action="" method="post" style="margin-bottom: 30px;">

    </form>
    <div class="homeContainer">

        <div th:each="collection, iter : ${blogCollectionDTO.collections}" class="card">

            <section>
                <div class="altoBox"  style="width: 100%; height:150px; overflow: hidden; background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));">

                    <div class="fistImageContainer" style="display:flex; justify-content: center;">
                        <div th:each="imageUrl : ${blogCollectionDTO.collectionImagesUrlsList[__${iter.index}__]}"
                             style="width:300px; height:300px;">
                            <img th:src="${imageUrl}" alt="Collection Image"
                                 style="width: 100%; height: 100%; object-fit: contain;">
                        </div>
                    </div>
                    <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div>
                            <h2 class="card-title" style="font-size:30px;" th:text="${collection.title} ? ${collection.title} : '제목없음'">Title</h2>
                            <p class="card-text" th:text="${#temporals.format(collection.createDate, 'yyyy년MM월dd일 HH시mm분ss초')}">Date</p>
                            <p class="card-text" style="margin-top: 30px;" th:text="${collection.content} ? ${collection.content} : '내용없음'">Content</p>
                        </div>
                        <div>
                            <span th:text="${collection.tierName}"
                                  style="white-space: nowrap;border-radius:10px; background: #c4c4db42; padding:10px;"></span>
                        </div>
                    </div>

                    <!-- 다운로드 가능한 파일 표시 -->
                    <div class="cardFile"
                         th:if="${#strings.equals(collection.membershipType, 'allPublic')} or ${blogCollectionDTO.tierId >= collection.tierId} or ${creator == booster}"
                         style="background: #c4c4db42; width: 100%; padding: 20px; border-radius: 10px">
                        <p class="card-text">
                            <i class="fa fa-file-archive-o" aria-hidden="true" style="color: #0000ff;"></i>
                            <a th:if="${blogCollectionDTO.collectionFileNames[__${iter.index}__] != null}"
                               th:href="@{/download/img/collectionFiles/{uuid}_{fileName}(uuid=${blogCollectionDTO.collectionUuids[__${iter.index}__]},fileName=${blogCollectionDTO.collectionFileNames[__${iter.index}__]})}"
                               th:utext="${blogCollectionDTO.collectionFileNames[__${iter.index}__]}"
                               style="color: #0000ff; margin-left: 10px;"></a>
                            <span th:unless="${blogCollectionDTO.collectionFileNames[__${iter.index}__] != null}">없음</span>
                        </p>
                    </div>

                    <!-- 다운로드 권한이 없는 경우 표시 -->
                    <div class="cardFile"
                         th:unless="${#strings.equals(collection.membershipType, 'allPublic')} or ${blogCollectionDTO.tierId >= collection.tierId} or ${creator == booster}"
                         style="background: #c4c4db42; width: 100%; padding: 20px; border-radius: 10px;
                        display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px;">
                        <div style="display: flex; align-items: center;">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <p style="margin-left: 10px;"><span th:text="${collection.tierName}"
                                                                style="margin-right: 10px;"></span>등급 이상 다운로드 가능합니다</p>
                        </div>
                        <div class="plan-about" style="background: #ffa500; padding: 15px; border-radius: 30px;">
                            <button style="color:#fff;background: transparent;border: transparent;">플랜 목록</button>
                        </div>
                    </div>

                    <section class="like_comment"
                             style="cursor:pointer;display: flex; margin-top: 30px; flex-direction: row; align-items: center;">
                       <span class="likeButton">
                             <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                        </span>
<!--                        <button class="likeButton">좋아요</button>-->
                        <div class="userId" th:data-user-class="${userId}"></div>
                        <div class="collection"
                             th:data-collection-class="${blogCollectionDTO.collectionIdList[__${iter.index}__]}"></div>
                        <span class="likeCount" style="margin-left: 5px;">0</span>
                        <div style="margin-left: 30px;">댓글</div>

                        <button class="toggleButton">펼치기</button>
                    </section>

                    <div class="highlightLine" style="margin-top: 20px;"></div>

                    <section class="comment_area">
                        <div class="commentHidden" style="width: 100%; height:0px; overflow: hidden;">
                        <div class="commentBoxes">
                        </div>
                            <div class="commentBox">
                            </div>
                            <div class="highlightLine"></div>


                            <section
                                    style="width:100%; margin-top: 30px; display: flex;flex-direction: row; align-items: center;">
                                <div class="boosterProfileImg">
                                    <div class="creator-blog-img"
                                         style="width: 90px; height: 90px; border-radius: 50%; overflow: hidden;">
                                        <img id="imagePreview" alt="Profile Image"
                                             th:src="${profileImageUrl}"
                                             style="object-fit: cover; border-radius: 3px; width: 100%; height: 100%;">
                                    </div>
                                </div>
                                <div class="userCommentWrite"
                                     style="display: flex; align-items: center; justify-content: space-between;">
                                    <label>
                                        <textarea rows="1" cols="90" name="content"></textarea>
                                    </label>
                                </div>
                            </section>
                            <button class="commentButton"
                                    style="margin-top: 10px; width:100%; padding:10px; border: transparent; border-radius: 10px;">댓글 작성
                            </button>

                        </div>
                    </section>
                </div>
                <button class="mainToggleButton" style="width: 100%;
                                                        border: transparent;
                                                        background: #0a0f48;
                                                        color: #fff;
                                                        font-size: 20px;
                                                        padding: 5px;
                                                        border-radius: 15px;
                                                        margin-top:10px;">펼치기</button>
            </section>
        </div>
    </div>

    <div th:if="${blogCollectionDTO.getCollections.getTotalPages > 1}" style="display:flex;">
        <div th:each="pageNumber : ${#numbers.sequence(1,blogCollectionDTO.getCollections.getTotalPages())}">
            <button th:attr="onclick='loadBlogCollectionContent1(' + ${pageNumber} + ')'" th:text="${pageNumber}">1</button>
        </div>
    </div>

    <!-- 블로그 ID 스크립트 -->

    <!-- 필요한 JavaScript 파일 로드 -->
    <script src="/js/collectionLikes.js" type="text/javascript"></script>
    <script src="/js/blog-collection-chooseMembership.js" type="text/javascript"></script>
    <script src="/js/blog-collection-highLight.js" type="text/javascript"></script>
    <script src="/js/collectionFolder.js" type="text/javascript"></script>
    <script src="/js/collectionMainPold.js" type="text/javascript"></script>
    <script src="/js/collectionLike.js" type="text/javascript"></script>
    <script src="/js/comment.js" type="text/javascript"></script>

</section>
</body>
</html>