<!DOCTYPE html>
<th:block th:replace="layout/main-layout :: layout(default,none)" xmlns="http://www.w3.org/1999/html">

    <th:block th:fragment="add_header">
        <title>blog-write</title>
    </th:block>

    <div th:fragment="content" class="cs-main-content-bg cs-content col container-fluid">
        <form  th:action="@{/blogWrite/{blogId}(blogId=${blog.blogId})}" method="post" class="container" id="blogForm" enctype="multipart/form-data">

            <section class="collection-imageUpload">
                <div class="collection-imageUpload-box">
                    <div id="imagePreviewContainer" class="image-preview-container" style="display: none"></div>
                    <div id="imageUploadButton">
                        <label>
                            <input type="file" id="imgFile" name="collectionImages" onchange="handleImageChoose(this)" style="display: none" multiple>
                            이미지 업로드
                        </label>
                        <p>JPG, JPEG 또는 PNG 파일</p>
                    </div>
                    <section class="imageAddContainer" >
                        <section class="secondImageAddContainer" style="display:none;">
                            <div id="secondImagePreviewContainer" class="image-preview-container">
                                <label for="imgFilePlus">
                                    <input type="file" id="imgFilePlus" name="collectionImages" onchange="handleImageChoose(this)" style="display: none" multiple>
                                    이미지 추가
                                </label>
                            </div>
                        </section>

                        <section class="thirdImageAddContainer" style="display: none">
                            <div id="thirdImagePreviewContainer" class="image-preview-container">
                                <label for="imgFileAnother">
                                    <input type="file" id="imgFileAnother" name="collectionImages" onchange="handleImageChoose(this)" style="display: none" multiple>
                                    다른 이미지 추가
                                </label>
                            </div>
                        </section>
                    </section>
                </div>
            </section>

            <section class="collection-title">
                <div class="collection-title-box">
                    <label for="titleInput">
                        <input type="text" id="titleInput" name="title" placeholder="제목입력">
                    </label>
                </div>
            </section>

            <section class="collection-content">
                <div class="collection-content-box">
                    <label for="collection-content-Input">
                        <input type="text" id="collection-content-Input" name="content">
                    </label>
                </div>
            </section>

            <section class="collection-file-upload">
                <div style="display: flex; justify-content: space-between; flex-direction: row; width:800px;">
                    <div class="collectionFile-box" style="display: flex; flex-direction: row; align-items: center;">
                        <h2>첨부파일</h2>
                        <div id="filenameDisplay" class="filename-display" style="margin-left: 10px;"></div>
                    </div>
                    <label for="file" class="upload-form" style="cursor: pointer; margin-left: 150px;">
                        <input type="file" id="file" name="file" style="display: none">
                        업로드
                    </label>
                </div>
            </section>

            <section class="collection-membership-choose">
                <div class="collection-membership-choose-box">
                    <button type="button" name="membershipType" data-membership-type="allPublic" onclick="toggleMembership('allPublic')">
                        <span>전체 공개</span>
                    </button>
                    <button th:if="${membershipTiers == null}" type="button">
                        <span>유료 공개</span>
                    </button>
                    <button th:if="${membershipTiers != null}" type="button" name="membershipType" data-membership-type="paidPublic" onclick="toggleMembership('paidPublic')">
                        <span>유료 공개</span>
                    </button>
                </div>
            </section>

            <section class="collection-membership-choose-select" th:if="${membershipTiers != null}">
                <div class="collection-membership-choose-select-box">
                    <button type="button" name="tierId" th:data-tier-id="${membershipTiers[0].tierId}" onclick="toggleGrade('${membershipTiers[0].tierId}')">
                        <span th:text="${membershipTiers[0].tierName}"></span>
                    </button>
                    <button type="button" name="tierId" th:data-tier-id="${membershipTiers[1].tierId}" onclick="toggleGrade('${membershipTiers[1].tierId}')">
                        <span th:text="${membershipTiers[1].tierName}"></span>
                    </button>
                    <button type="button" name="tierId" th:data-tier-id="${membershipTiers[2].tierId}" onclick="toggleGrade('${membershipTiers[2].tierId}')">
                        <span th:text="${membershipTiers[2].tierName}"></span>
                    </button>
                </div>
            </section>

            <section class="collection-button">
                <div class="collection-button-box">
                    <button type="submit">업로드</button>
                </div>
            </section>
        </form>
    </div>
        <th:block th:fragment="add_bottom">
            <script src="/js/blogWrite.js" type="text/javascript"></script>
            <script src="/js/blogWriteInit.js" type="text/javascript"></script>
            <script src="/js/collectionImageChoose.js" type="text/javascript"></script>
            <script src="/js/collectionFiles.js" type="text/javascript"></script>
        </th:block>

</th:block>