<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>blog-collection</title>
</head>
<body>
<section class="blogHome">
    <div class="homeContainer">

        <th:block th:each="collection, iter : ${collections}">
            <div class="card">

                <div class="fistImageContainer" style="display:flex; justify-content: center;">
                    <th:block th:each="imageUrl, iterStat : ${collectionImagesUrlsList[iter.index]}">
                        <div th:classappend="${imageUrl != null}" style="width:300px; height:300px;">
                            <img th:src="${imageUrl}" alt="Collection Image"
                                 style="width: 100%; height: 100%; object-fit: contain;">
                        </div>
                    </th:block>
                </div>

                <div class="card-body">
                    <h2 class="card-title" th:text="${collection.title}">Title</h2>
                    <p class="card-text" th:text="${collection.createDate}">Date</p>
                    <p class="card-text" th:text="${collection.content}">Content</p>
                </div>


                <div class="cardFile" th:if="${tierId >= collection.tierId}">
                    <p class="card-text">
                        <a th:if="${collectionFileNames[iter.index] != null}"
                           th:href="@{/download/img/collectionFiles/{uuid}_{fileName}(uuid=${collectionUuids[iter.index]},fileName=${collectionFileNames[iter.index]})}"
                           th:utext="${collectionFileNames[iter.index]}">다운로드</a>
                        <span th:unless="${collectionFileNames[iter.index] != null}">없음</span>
                    </p>
                </div>

                <div class="cardFile" th:unless="${tierId >= collection.tierId}">
                    <p>티어를 업그레이드 하세요</p>
                </div>

            </div>
        </th:block>
    </div>
</section>
</body>
</html>