<!DOCTYPE html>
<th:block th:replace="layout/main-layout :: layout(default,none)" xmlns="http://www.w3.org/1999/html">

    <th:block th:fragment="add_header">
        <title>blog-write</title>
    </th:block>

    <div th:fragment="content" class="cs-main-content-bg cs-content col container-flude">
        <form  th:action="@{/updateAbout/{blogId}(blogId=${blog.blogId})}" method="post" class="container" id="blogForm">
            <section class="collection-title">
                <div class="collection-title-box">
                    <label for="titleInput" >
                        <input type="text" id="titleInput" name="aboutTitle" placeholder="제목입력">
                    </label>
                </div>
            </section>

            <section class="collection-content">
                <div class="collection-content-box">
                    <label for="collection-content-Input"></label>
                    <textarea id="collection-content-Input" name="aboutContent"></textarea>
                </div>
            </section>

            <section class="collection-button">
                <div class="collection-button-box">
                    <button type="submit">수정</button>
                </div>
            </section>
        </form>
    </div>
    <th:block th:fragment="add_bottom">

    </th:block>

</th:block>