@charset "utf-8"; /*인코딩시 깨지지말라고 붙여줘야함*/
@import url('https://fonts.googleapis.com/css?family=Exo+2|Noto+Sans+KR&display=swap');

* {margin: 0;padding: 0;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a img {border: none;}
li {list-style: none;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
address, em, i {font-style: normal;}

.mo {display: none;}
.en {font-family: 'Exo 2', sans-serif;}
body {font-family: 'Noto Sans KR', sans-serif; font-size: 14px;}

/*layout*/
body {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* 헤더(탑 네비게이션  */
.cs-main-nav-bg {
  background-color: #f8ebe6;
}

/* 메인 컨텐츠 백그라운드 색상 */
.cs-main-content-bg {
  background-color: #f5f5f5;
}

/* header 67 , footer 12 */
.cs-content {
  height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.cs-sidebar-menu {
  position: fixed;
  right: 0px;
  top: 102px;
  z-index: 250;
  border: #transparent;
}

.cs-sidebar-list-group {
  height: calc(100vh - 200px);
}

.navbar-toggler {
    float: left;
    padding: 20px;
    font-size: 20px;
    line-height: normal;
    color: var(--mdb-navbar-color);
    background-color: transparent;
    border: var(--mdb-border-width) solid var(--mdb-navbar-toggler-border-color);
    border-radius: var(--mdb-navbar-toggler-border-radius);
    transition: var(--mdb-navbar-toggler-transition);
}




.wrap {margin: 0 auto; }

#skip-nav {
    position: fixed;
    left: 0;
    top: -41px;
    width: 100%;
    line-height: 40px;
    background: #ff8342;
    color: #fff;
    text-align: center;
    border-bottom: #ff0000;
    transition: all 0.5s;
    }

#skip-nav:focus {
    top: 0;
    }

.mainHeader {
    position: fixed; /*브라우저에서 고정*/
    top:0;
    left: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: rgba(0,0,0,0.2);
    z-index: 200;
    }
.fragment-header {
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: #fff;
    z-index: 200;
}

.innerHeader{
    width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    }

.innerHeader .logo {
    float: left;
    position: relative;
    left: 20px;
    top: -5px;
    }

.innerHeader .logo img {
    width: 100%;
    height: auto;
    }

.innerHeader .gnbMo {
    display: none;
    }

.innerHeader .tnb {
    float: right;
    }
.innerHeader .tnb li {
    float: left;
    position:relative;
    right: 10px;
    margin-right: 25px;
    }
.innerHeader .tnb li a{
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.innerHeader .tnb li:nth-child(1) a i{
    font-size: 20px;
    margin-right: 20px;
}

.innerHeader .tnb li:last-child a {
    display: block;
    width: 200px;
    line-height: 2;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-top: 35px;
}

.innerHeader .tnb li:last-child a i {
    margin-left: 5px;
}

.innerHeader .tnb li:nth-child(1) a:hover {
    color:#ff8342;
    transition: all 0.3s;
}

.innerHeader .tnb li:last-child a:hover {
    background: #fff;
    color:#ff8342;
    transition: all 0.3s;
}

.fragmentHeader{
    width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    }

.fragmentHeader .fragmentLogo {
    float: left;
    position: relative;
    left: 20px;
    top: -5px;
    margin-right: 50px;
    }

.fragmentHeader .fragmentLogo img {
    width: 100%;
    height: auto;
    margin-top: 30px;
    }

.fragmentHeader .gnb {
    float: left;
    }
.fragmentHeader .gnb li {
    float: left;
    margin-right: 80px;
    }
.fragmentHeader .gnb li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #0000000;
    font-size: 16px;
    }

.fragmentHeader .gnb li:last-child a {
    display: block;
    width: 200px;
    line-height: 2;
    border: 1px solid #000000;
    border-radius: 30px;
    margin-top: 35px;
}

.fragmentHeader .gnb li:last-child a i {
    margin-left: 5px;
}

.fragmentHeader .gnb li:nth-child(1) a:hover {
    color:#ff8342;
    transition: all 0.3s;
}

.fragmentHeader .gnb li:last-child a:hover {
    background: #0000000;
    color:#ff8342;
    transition: all 0.3s;
}

.fragmentHeader .fnbMo {
    display: none;
    }

.fragmentHeader .fnb {
    float: right;
    }
.fragmentHeader .fnb li {
    float: left;
    position:relative;
    right: 10px;
    margin-right: 5px;
    }
.fragmentHeader .fnb li a{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    margin-left: 30px;
    color: #0000000;
}

.fragmentHeader .fnb li:nth-child(1) a i{
    font-size: 20px;
    margin-right: 20px;
}

.fragmentHeader .fnb li:last-child a {
    font-size: 20px;
        margin-right: 20px;
}

.fragmentHeader .fnb li:nth-child(1) a:hover {
    color:#ff8342;
    transition: all 0.3s;
}

.fragmentHeader .fnb li:last-child a:hover {
    color:#ff8342;
    transition: all 0.3s;
}

/*section.main*/
section.main {
    width: 100%;
    height: 100vh;
    background: url(../assets/mainTitle.jpg)no-repeat center/cover;
    position: relative;
    background-attachment: fixed;
}

section.main .mainTitle {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px rgba(16, 8, 8, 0.5);
    animation-name: mainTitle;
    animation-duration: 2s;
}

@keyframes mainTitle {
    0%{opacity: 0; top: 70%;}
    30%{opacity: 0; top: 60%;}
    100%{opacity: 1; top: 50%;}    
}
section.main .mainTitle h2{
    font-size: 55px;
    margin-bottom: 20px;
}

section.main .mainTitle p {
    font-size: 25px;
    margin-bottom: 30px;
}

section.main .mainTitle .view {
    display: block;
    width: 180px;
    margin: 0 auto;
    padding: 8px 0;
    font-size:15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #fff;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}

section.main .mainTitle .view:after {
    content: '';
    width:0;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 0;
    top: 0;
}

section.main .mainTitle .view:hover:after {
    width: 100%;
    transition: all 0.3s;
}

/*section .title*/

section .title {
    color: #000;
    text-align: center;
}

section .title h2 {
    font-size: 55px;
    margin-bottom: 20px;
    font-weight: normal;
}

section .title h2 span {
    color:#ff8342;
}

section .title p {
    font-size: 18px; color: #555;
}


/*section.about*/
section.about {
    background: #fff; padding: 80px 0;
}

section.about ul {
    margin: 30px auto;
    width: 1400px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

section.about ul li {
    float:left;
    width: 33.3333%;
}

section.about ul li a{
    display: block;
    width: 100%;
    height: 100%;
}

section.about ul li a p.img {
    width: 100%;
    overflow: hidden;
}

section.about ul li a p.img img {
    width: 100%;
    height: auto;
    transition: all .8s;
}

section.about ul li a:hover p.img img,
section.about ul li a:focus p.img img {
    transform: scale(1.2);
    transition: all 1s;
}

section.about ul li a .text {
    padding: 30px;
}

section.about ul li a .text h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

section.about ul li a .text p {
    font-size: 16px;
    margin-bottom: 10px;
}

section.about ul li a .text p.more {
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 40px;
    position: relative;
}

section.about ul li a .text p.more:before {
    content: '\f178';
    font-family:FontAwesome;
    font-size: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background:#ff8342;
    position: absolute;
    left: 0;
    display: block;
    border-radius: 50%;
}

/*section.rank*/
section.rank {
    margin-bottom: 150px;
}


section.rank .imgBox {
    width: 1400px;
    height: 540px;
    margin: 50px auto 0;
    background: url(../assets/commition.jpg) no-repeat center/cover;
    position: relative;
}

section.rank .imgBox .inner {
    background: #3a3c4e;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}

section.rank .imgBox .inner h3 {
    background: #fff;
    padding: 25px 45px;
    box-sizing: border-box;
    font-size: 18px;
}

section.rank .imgBox .inner h3 span {
    color:#ff8342;
}

section.rank .imgBox .inner .bottom {
    padding: 35px 85px;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    line-height: 1.6;
}

section.rank .imgBox .inner .bottom p {
    float: left;
}

section.rank .imgBox .inner .bottom a {
    float: right;
    padding: 7px 30px;
    background: #ff8342;
    border-radius: 50px;
}

section.rank .imgBox .inner .bottom a:hover,
section.rank .imgBox .inner .bottom a:focus {
    background: #f86010;
}

/* card */

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.card {
    position: relative;
    width: calc(33.33% - 20px); 
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.createrprofile {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px; 
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.createrprofile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.card-body {
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px); 
    }
    .createrprofile {
        top: 50px; 
        width: 70px; 
        height: 70px;
    }

    .createrprofile img {
        border-radius: 35%; 
    }
     
}

/*section.me*/
section.me {
    margin-bottom: 150px; 
    padding: 80px 0; 
    background: url(../assets/preimg.jpg)no-repeat center/cover;}
section.me ul.list {width: 1400px; margin: 50px auto; border-top: 2px solid #000; border-bottom: 2px solid #000;}
section.me ul.list > li {padding: 30px 60px; box-sizing: border-box;}
section.me ul.list > li:nth-child(1) {border-bottom: 1px solid #ddd;}
section.me ul.list li h3 {font-size: 18px; margin-bottom: 20px; position: relative;}
section.me ul.list li h3 span {position: absolute; left: -35px; color:#ff8342; }
section.me ul.list li > p {line-height: 1.6; margin-bottom: 20px;}
section.me ul.list li > a {display:inline-block; font-weight: bold; font-size: 16px;line-height: 1.6; }
section.me ul.list li > a span {color:#ff8342; font-weight: bold; margin-left: 3px; font-size: 14px; }
section.me ul.in {margin-bottom: 30px;}
section.me ul.in li {margin-bottom: 10px; overflow: hidden;}
section.me ul.in li em {float: left; width: 12%;  font-weight: bold;}
section.me ul.in li p {float: left; width: 88%; position: relative;}
section.me ul.in li p:before { content:''; position: absolute; left: -40px; top:10px; width: 4px; height: 4px; border-radius: 50%; background:#ff8342; }
section.me .view2 {
    display: block; 
    width: 280px; 
    background:#ff8342; 
    border:none;
    padding: 10px 0; 
    font-weight: bold; 
    text-align: center;
    margin: auto;
    border-radius: 50px; 
    color: #fff;
}

section.me .view2 {
    display: block;
    width: 280px;
    margin: 0 auto;
    padding: 8px 0;
    font-size:15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #fff;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}

section.me .view2:after {
    content: '';
    width:0;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 0;
    top: 0;
}

section.me .view2:hover:after {
    width: 100%;
    transition: all 0.3s;
}

/*==================================section.start=================*/
section.start {
    margin-bottom: 60px;
}
section.start ul {
    width: 1400px; 
    margin: 50px auto; 
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 70%; 
    margin: 50px auto;
    overflow: hidden;
}
section.start ul li {
    /* float: left; 
    width: 32%;  */
    flex: 0 0 38%;
    margin-right: 2px;
    
}
section.start ul li:last-child {
    margin-right: 0;
}
section.start ul li a {
    display: block; 
    width: 100%; 
    height: 100%;
}
section.start ul li a p.img {
    overflow: hidden; 
    position: relative;
}
section.start ul li.booster-start a p.img:before {
    content: ''; 
    width: 0%; 
    height: 100%; 
    position: absolute; 
    left: 0; top:0; 
    background: rgba(255, 131, 66, 0.9); 
    transition: all 0.5s;
}

section.start ul li.creator-start a p.img:before {
    content: ''; 
    width: 0%; 
    height: 100%; 
    position: absolute; 
    left: 0; top: 0; 
    background: rgba(66, 134, 244, 0.9); 
    transition: all 0.5s;
}

section.start ul li a p.img img {
    width: 100%;
}
section.start ul li.booster-start a:hover p.img:before,
section.start ul li.booster-start a:focus p.img:before {
    width: 100%; 
    transition: all 0.6s;
}

section.start ul li.creator-start a:hover p.img:before,
section.start ul li.creator-start a:focus p.img:before {
    width: 100%; 
    transition: all 0.6s;
}

section.start ul li.booster-start a p.img:after {
    content: '후원자로 시작하기'; 
    position: absolute; 
    left:50%; top:50%; 
    transform: translate(-50%,-50%); 
    font-family: 'Exo 2', sans-serif; 
    font-size: 15px; 
    color: #fff; 
    border: 1px solid #fff; 
    border-radius: 40px; 
    padding: 5px 30px; 
    opacity: 0; 
    transition: all 0.5s;
}

section.start ul li.creator-start a p.img:after {
    content: '크리에이터로 시작하기';
    position: absolute; 
    left: 50%; top: 50%; 
    transform: translate(-50%, -50%); 
    font-family: 'Exo 2', sans-serif; 
    font-size: 15px; 
    color: #fff; 
    border: 1px solid #fff; 
    border-radius: 40px; 
    padding: 5px 30px; 
    opacity: 0; 
    transition: all 0.5s;
}

section.start ul li.booster-start a:hover p.img:after,
section.start ul li.booster-start a:focus p.img:after {
    opacity: 1; transition: all 0.5s;
}

section.start ul li.creator-start a:hover p.img:after,
section.start ul li.creator-start a:focus p.img:after {
    opacity: 1; 
    transition: all 0.5s;
}

/*footer*/
footer {clear: both; border-top: 1px solid #999; padding: 30px 0 50px;}
footer .inner {width: 1600px;margin: 0 auto;  overflow: hidden; }
footer .inner .ftLogo {float: left;  }
footer .inner .address {float: left; margin-left: 100px; margin-top: 10px;}
footer .inner .address li:first-child {font-weight: bold; margin-bottom: 10px;}
footer .inner .address li:last-child {color: #999; }
footer .inner .list {float: right; font-family: 'Exo 2', sans-serif; margin-top: 10px;}
footer .inner .list li {float: left;margin-left: 80px; }
footer .inner .list li a {display: block; width: 100%; height: 100%; position: relative; }
footer .inner .list li a:after {content: ''; width: 4px; height: 4px; border-radius: 50%; background: #ccc; position: absolute; right: -50px; top:10px;  }
footer .inner .list li a:hover,footer .inner .list li a:focus {color: #ff8342; text-decoration: underline;}
footer .inner .list li:last-child a {font-weight: bold; font-family: 'Exo 2',sans-serif;}



.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}



/*blog*/
section.blogMain .blogMainTitle {
    position: relative;

}

section.blogMain .blogMainTitle img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    background:#fff;
}

section.blogMain .blogMainTitle .coverChange {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: none;
    text-decoration: none;
    padding: 10px;
    background-color: #8abde057;
    color: #fff;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
    z-index: 300;
}

section.blogMain .blogMainTitle:hover .coverChange {
    display: inline-block;
}
.blogBody {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    width:100%

}

.blogInfo .username,
.blogInfo .email {
    margin-bottom: 10px;
}

.blogInfo .member-count,
.blogInfo .post-count {
    margin-right: 10px;
}

.blogBody .section{
    flex: 2;
    margin-right:2%;
}

.collectionWriteButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.blogWriteButtonContainer,
.collectionWriteButtonContainer {
    display: flex;
    flex: 8;
    margin: 30px;
}

.collectionWriteButton a.collectionWrite,
.blogWriteButton a.blogWrite {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    background-color: #8aa0ce;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.collectionWriteButton a.collectionWrite:hover,
.blogWriteButton a.blogWrite:hover {
    background-color: #5c7fa3;
}

section.blogCategory button{
    border: none;
    background-color: transparent;
}

.highlightLine{
    height: 3px;
    background-color: #ddd;
}

/*creator-search*/
.creator-search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;

}

.creator-search-icon{
    display: flex;
    align-items: center;
    width: 800px;
    flex-direction: column;
}

section.creator-search{
    display: flex;
    align-items: center;
    justify-content: center;
}

section.creator-search p{
    font-size: 40px;
}

section.creator-search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

section.creator-search-bar .creator-search-bar-box{
    position: relative;
}

#creator-search-bar-titleInput{
    width: 800px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #c8a8a8ad;
    border: 5px solid #c8a8a8ad;
    border-radius: 20px;
    margin: 20px;
}

.creator-search-bar-button-box{
    display:flex;
}

.creator-search-bar-button-box button{
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    background-color: transparent;
    border: 2px dotted #ddd;
    border-radius: 5px;
    cursor: pointer;
}

/*creator search list*/
section.creatorSearchListContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.creatorSearchListContainer .creatorSearchListContainer-box{
    width:100%;
    max-width: 800px;
    text-align: center;
}

section.creator-search-list p{
    font-size: 30px;
    margin-top: 20px;
}

section.creator-search-list-bar {
    width: 100%;
    max-width: 300px;
}

section.creator-search-list .creator-search-list-bar-box {
    width: 100%;
}

#creator-list-search-bar-titleInput{
    width: 900px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    color: #c8a8a8ad;
    border: 5px solid #c8a8a8ad;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.creator-search-list .creator-search-list-box {
   display: flex;
   width: 900px;
   margin: 10px auto;
   padding: 20px;
   background-color: #fff;
   flex-direction: column;
}

.creator-search-info {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 800px;
    margin-top:10px;
    margin-bottom: 10px;
}

.creator-blog-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

#imagePreview {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.creator-search-info div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.creator-search-info a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creator-search-info h5 {
    margin: 0;
}

.creator-search-info span {
    margin-top: 5px;

}

.creator-search-info div:last-child {
    float: right;
    margin-left: 10px;
}

/*=========================blog-Home=======================*/

section.blogHome {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

section.blogHome .homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.blogHome .homeContainer .card{
    text-align: center;
    width: 800px;
    max-width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section.blogHome .homeContainer .card img{
   max-height: 300px;
   width: auto;
   object-fit: cover;
   margin-bottom: 10px;
}

section.blogHome .homeContainer .card-body,
section.blogHome .homeContainer .cardFile{
   display: flex;
   flex-direction: column;
   text-align: left;
}

/*=========================blog-Collection=======================*/

section.blogCollection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    flex-direction: row;
}

section.blogCollection .collectionContainer{
    margin: 10px;
}

section.blogCollection .collectionContainer .card{
    display:flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width:300px;
    text-align: left;

}

section.blogCollection .collectionContainer .cardHeader{
    background-color: #f5f5f5;
    padding: 10px;
}

section.blogCollection .collectionContainer .membershipButton{
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    border: 3px solid #000;
    padding: 10px;
    text-decoration: none;
}

section.blogCollection .collectionContainer .membershipButton a:hover {
    background-color: #fff;
    color: #000;
    border: 3px solid #000;
}

section.blogCollection .collectionContainer .membershipButton button{
     background-color: #000;
     color: #fff;
     border: none;
     padding: 10px;
     cursor: pointer;
}

/*categoryModal*/

section.categoryModalContainer .categoryModalBox{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
    width: 400px;
    height: 380px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

section.categoryModalContainer .modalContent {
     text-align: center;
}

section.categoryModalContainer .modalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
}

section.categoryModalContainer .modalClose:hover {
    color: #333;
}

section.categoryModalContainer ul {
    list-style: none;
    padding: 0;
}


section.categoryModalContainer ul li{
    margin-bottom: 10px;
}

section.categoryModalContainer ul li a {
    text-decoration: none;
    color: #333;
}

section.categoryModalContainer ul li a:hover {
    color: #555;
}

/*blogModal*/

section.blogModal{
    display: flex;
    align-items:center;
    justify-content:center;
}

section.blogModal .modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
    width: 400px;
    height: 380px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

section.blogModal .modal-content {
     text-align: center;
     box-shadow: none;
}

section.blogModal .close {
    display: flex;
    position: relative;
    font-size: 30px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

section.blogModal a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    margin: 10px 0;
    flex-direction: column;
}


section.blogModal i{
    margin-right: 10px;
}

section.blogModal p {
    margin-bottom: 20px;
    font-size: 20px;
}
/*blog-collection*/

.verticalImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*blog-collection-write*/

section.collection-imageUpload,
section.collection-title,
section.collection-content,
section.collection-button{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     text-align: center;
}
section.collection-file-upload{
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin-top: 20px;
}

section.collection-imageUpload .collection-imageUpload-box {
      position: relative;
      width: 800px;
      height: 500px;
      border: 5px dotted #9f8d8d;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
}

section.collection-imageUpload #file1 {
    width: 100%;
    height: 100%;
    opacity: 100;
    position: absolute;
    top: 0;
    left: 0;
}

section.collection-imageUpload p {
    margin-top: 10px;
}

#imagePreviewContainer {
    position: relative;
    border: 2px dotted #ddd;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

section.imageAddContainer{
    display:flex;
    margin-top: 10px;
}
section.imageAddContainer .secondImageAddContainer,
section.imageAddContainer .thirdImageAddContainer{
    flex:1;

}

#secondImagePreviewContainer,
#thirdImagePreviewContainer {
    position: relative; /* 수정된 부분 */
    border: 2px dotted #ddd;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.image-preview {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-right: 10px;
    position: relative; /* 수정된 부분 */
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #ff0000;
    display: none; /* 추가된 부분 */
}

.image-preview-container:hover .delete-icon {
    display: block; /* 추가된 부분 */
}

#titleInput {
    width: 820px;
    padding: 10px;
    font-size: 20px;
    border: none;
    background: transparent;
}

#collection-content-Input{
    width: 800px;
    padding: 10px;
    font-size: 15px;
    border: none;
    box-sizing: border-box;
}

section.collection-membership-choose {
    text-align: center;
}

section.collection-membership-choose .collection-membership-choose-box {
    display: flex;
    justify-content: center;
    border: 3px solid #9f8d8d;
    border-radius: 5px;
    width: 800px;
    height: 150px;
    margin: 20px auto;
}

section.collection-membership-choose .collection-membership-choose-box button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #9f8d8d;
    width: 400px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 23px;
}

section.collection-membership-choose .collection-membership-choose-box button span{
    color: #9f8d8d;
}

section.collection-membership-choose .collection-membership-choose-box button span {
    font-size: 18px;
}

section.collection-membership-choose-select {
    text-align: center;
}

section.collection-membership-choose-select .collection-membership-choose-select-box {
    display: flex;
    justify-content: center;
    border: 3px solid #9f8d8d;
    border-radius: 5px;
    width: 800px;
    height: 100px;
    margin: 20px auto;
}

section.collection-membership-choose-select .collection-membership-choose-select-box button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #9f8d8d;
    width: 400px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 23px;
}

section.collection-membership-choose button.selected {
    background-color: #404361;
}

section.collection-membership-choose button.selected span{
    color: white;
}

section.collection-membership-choose-select button.selected {
    background-color: #404361;
}

section.collection-membership-choose-select button.selected span{
    color: white;
}

section.collection-button {
     width: 800px;
     margin: 0 auto;
     text-align: center;
}

section.collection-button .collection-button-box {
     display: flex;
     justify-content: space-between;
     margin-top: 30px;
}

section.collection-button button {
     padding: 10px 20px;
     font-size: 20px;
     border: transparent;
     border-radius: 10px;
     background-color: #b6a3a3;
     margin-right: 20px;
     margin-bottom: 20px;
     box-shadow: 0 0 10px 5px #ddd
}

/*blog-write-membershipChoose*/
.blogWriteMembership-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

section.blogWriteMembership {
    display:flex;
    align-items: center;
    width: 800px;
}

section.blogWriteMembership p {
   margin-top: 50px;
   margin-bottom: 20px;
   font-size: 30px;
}

.blogWriteMembership-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.blogWriteMembership-box {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.blogWriteMembership-title-box,
.blogWriteMembership-price-box,
.blogWriteMembership-content-box,
.blogWriteMembership-button-box {
    margin-bottom: 10px;
}

#tier1Name,
#tier2Name,
#tier3Name,
#tier1Price,
#tier2Price,
#tier3Price{
    width: 820px;
    padding: 10px;
    font-size: 20px;
    border: none;
    background: transparent;
}

#tier1Content,
#tier2Content,
#tier3Content{
    width: 820px;
    height: 150px;
    padding: 10px;
    font-size: 20px;
    border: none;
    background: transparent;
}

#blogWriteMembership-content-Input::placeholder,
#silver-blogWriteMembership-content-Input::placeholder,
#gold-blogWriteMembership-content-Input::placeholder {
    text-align: left;
}

section.blogWriteMembership-button {
     width: 100%;
     margin: 0 auto;
     text-align: center;
}

section.blogWriteMembership-button .blogWriteMembership-button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

#prevPage, #nextPage {
    padding: 10px 20px;
    font-size: 20px;
    border: 3px solid #c4afaf;
    border-radius: 50%;
    background-color: rgb(206 201 201);
}

#saveBtn, #updateBtn, #clearForm, #save{
    padding: 10px 20px;
    font-size: 20px;
    border: transparent;
    border-radius: 10px;
    background-color: rgba(182, 163, 163, 0.7);
    margin-top: 20px;
    box-shadow: 0 0 10px 5px #ddd;
}

/*=blog-About=*/

section.blogAbout{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    flex-direction: row;
}

section.blogAbout .aboutContainer{
    margin: 10px;
}

section.blogAbout .aboutContainer .card{
    display:flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width:300px;
    text-align: left;

}

section.blogAbout .aboutContainer .card p {
    background-color: #f5f5f5;
    padding: 10px;
}

/*======================membership-charge=======================*/
section.charge-about{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
}

section.charge-about > span{
    font-size: 30px;
    color: #909118;
}

section.charge-about > div{
    margin-left: 30px;
    font-size: 20px;
}

section.charge-view-container,
section.charge-terms{
    display: flex;
    margin-bottom: 30px;
}

section.charge.terms .charge-terms-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    flex: 1;
}
section.charge.terms .charge-terms-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    flex: 1;

}

section.charge-view-container .charge-view-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    flex: 1;

}

section.charge-view-container .charge-second-view-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    flex: 1;
}
.charge-view,
.charge-second-view{
    width: 100%
}

.charge-view .charge-potato {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #f1e0e0;
}

.charge-second-view .charge-potato{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #f1e0e0;
}

.charge-potato button {
    width: 100px;
    padding: 5px;
    background-color: #282e51;
    color: #fff;
    border-radius: 10px;
}

.charge-potato span {
    font-size: 20px;
    margin-left: 20px;
}


section.card-userName-container {
    margin-top: 20px;
}

section.card-userName-container .card-userName-box {
    display: flex;
    flex-direction: column;
}

section.card-userName-container .card-userName-box label {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-userName-box label span {
    margin-bottom: 5px;
}

section.card-userName-container .card-userName-box input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

section.card-userName-container .card-userName-box input:focus {
    outline: none;
    border-color: #4caf50;
}

section.card-info-container {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

section.card-info-container .card-info-box {
    display: flex;
    flex-direction: column;
}

section.card-info-container .card-info-box label {
    margin-bottom: 10px;
}

section.card-info-container .card-info-box input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
}

section.card-info-container .expiration-cvc-container {
    display: flex;
    gap: 10px;
}

section.card-info-container .card-info-box input:invalid {
    border: 1px solid #ff5a5a;
}

section.card-info-container .card-info-box input:valid {
    border: 1px solid #4caf50;
}

section.subscribe-button-container {
    margin-top: 10px;
}

.subscribe-button-box button {
    background-color: #000;
    color: #fff;
    width: 500px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.subscribe-button-box button:hover {
    background-color: #333;
}

.charge-membership-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.membership-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #ac9b9b;
}

.membership-chargeInfo-box,
.membership-moneyChargeInfo-box {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.membership-info-box h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.charge-membership-view .membership-info {
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.charge-membership-view .membership-info-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.charge-membership-view .membership-info-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.charge-membership-view .membership-info-details {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.charge-membership-view .membership-info-details span {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.charge-membership-view .membership-info-details span:last-child {
    margin-left: auto;
}



/*1599*/
@media screen and (max-width:1599px) {
    header .innerHeader {width: 95%; min-width: 1024px;}
    .innerHeader .gnb {margin-left: 50px;}
    .innerHeader .gnb li {margin-right: 40px;}
    .innerHeader .gnb li:last-child {margin-right: 0;}
    .innerHeader .tnb li {margin-right: 10px;}
     header .fragmentHeader {width: 95%; min-width: 1024px;}
        .fragmentHeader .fnb {margin-left: 50px;}
        .fragmentHeader .fnb li {margin-right: 40px;}
        .fragmentHeader .fnb li:last-child {margin-right: 0;}
        .fragmentHeader .fnb li {margin-right: 10px;}
    section.about ul, section.rank .imgBox,section.me ul.list,section.start ul {width: 95%;}
    footer .inner{width: 95%; min-width: 90%;}
    footer .inner .list li {margin-left: 20px;}
    footer .inner .list li a:after {right: -13px;}   
}
/*태블릿모드 1024*/
@media screen and (max-width:1024px) {
    header .innerHeader {width: 95%; min-width: 90%;}
    .innerHeader .gnb, .innerHeader .tnb {display: none;}
    .innerHeader .gnbMo {display: block; color: #fff; font-size: 40px;float: right;}
    header .fragmentHeader {width: 95%; min-width: 90%;}
        .fragmentHeader .fnb, .innerHeader .fnb {display: none;}
        .fragmentHeader .fnbMo {display: block; color: #000000; font-size: 40px;float: right;}
    section.main .mainTitle {width: 80%;}
    section.me {margin-bottom: 50px; }
    section.me ul.in li p:before {left: -20px;}
    section.me ul.in li {margin-bottom: 0;}
    section.me ul.list li > p {margin-bottom: 10px;}
    section.start ul li {width: 32.2%; margin-right: 1.7%;}
    footer .inner .list {display: none;}
}
/*태블릿모드 768*/
@media screen and (max-width:768px) {
    section.main .mainTitle h2 {font-size: 40px;}
    section.main .mainTitle p {font-size: 20px;}
    section.about {padding: 50px 0;}
    section.about ul li {width: 100%;}
    section.rank .imgBox .inner h3 {padding: 20px;}
    section.rank .imgBox .inner .bottom {padding: 30px;}
    section.rank .imgBox .inner .bottom p .clear {display: none;}
    section.rank .imgBox .inner .bottom p{float: none; margin-bottom: 30px;}
    section.rank .imgBox .inner .bottom a {float: none; margin-left: 32%;}
    section.me {padding: 50px 0 ; margin-bottom: 80px;}
    section.me ul.in li em {display: block; float: none; width: 100%; font-size: 17px; margin-bottom: 5px;}
    section.start ul li {width: 100%;}
    footer .inner .ftLogo {float: none; width: 100%; text-align: center;}
    footer .inner .address {float: none; width: 100%; margin-left: 32%;}
    footer .inner .address li:last-child {margin-left: 12%;}
}

   /*태블릿모드 414*/ 
    @media screen and (max-width:414px) {
         header {height: 60px; line-height: 60px;}    
        .innerHeader {height: 100%; line-height: 60px;}    
        .innerHeader .logo {padding-top: 5px;}
         header {height: 60px; line-height: 60px;}
                .fragmentHeader {height: 100%; line-height: 60px;}
                .fragmentHeader .fragmentLogo {padding-top: 5px;}
        section.main .mainTitle h2 {font-size: 30px;}     
        section.main .mainTitle p {font-size: 16px;}    
        section.main .mainTitle .view {width: 150px; font-size: 14px;}    
        section .title h2 {font-size: 25px;}    
        section .title p {font-size: 14px;}    
        section.about {padding: 30px 0;}
        section.about ul {border-bottom: none;}
        section.about ul li a {border: 1px solid #ddd; box-sizing: border-box; background: #fafafa; margin-bottom: 10px;}
        section.about ul li a .text p.more {display: none;}
        section.rank .imgBox .inner .bottom a {margin-left: 20%;}
        section.me ul.list > li {padding: 20px 0 20px 45px; }
        footer .inner .address {margin-left: 15%;}
        footer .inner .address li:last-child {margin-left: 22%;}  
    }
   /*모바일 모드 320*/ 
    @media screen and (max-width:414px) {
        br.mo {display: block;}
        .wrap {min-width: 320px;}
        header .innerHeader{min-width: 320px;}
        .innerHeader .logo {width: 140px; height: auto;}
        .innerHeader .gnbMo {margin-right: 10px;}
        header .fragmentHeader{min-width: 320px;}
                .fragmentHeader .fragmentLogo {width: 140px; height: auto;}
                .fragmentHeader .fnbMo {margin-right: 10px;}
        section.main .mainTitle h2 {font-size: 22px;}
        section.main .mainTitle p {font-size: 14px;}
        section.about {padding: 10px 0;}
        section.about ul li a .text {padding: 15px;}
        section.about ul li a .text h3 {font-size: 18px; margin-bottom: 5px;}
        section.about ul li a .text p {font-size: 15px;}
        section.rank .imgBox {height: 300px;}
        section.rank .imgBox .inner .bottom a {margin-left:18px; }
        footer .inner .address {margin-left: 5%;}
        footer .inner .address li:last-child {margin-left: 27%;}   
   



}





























