<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Intro Mail</title>
  <link rel="icon" href="/asset/favicon.png" />
  <th:block th:replace="include/top"></th:block>
</head>
<body>
<div th:replace="components/nav"></div>

    <div class="container-fluid vh-90"></div>

    <div th:replace="components/footer"></div>

  </body>
  <th:block th:replace="include/bottom"></th:block>
</html>
