<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Devsculpt</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/header.css"/>
    <style>
    </style>
</head>
<body>
<div th:fragment="header">
    <div class="header-navbar">
        <div class="header-dropdown">
            <a href="#">Menu</a>
            <div class="header-dropdown-content">
                <th:block th:if="${session.userDetails != null}">
                    <a href="#">My Page</a>
                </th:block>
                <th:block th:unless="${session.userDetails != null}">
                    <a href="#">Log in/Sign up</a>
                </th:block>
                <a href="#">Community</a>
                <a href="#">Knowledge</a>
            </div>
        </div>
        <div class="header-logo-container">
            <img src="/assets/image/devlogo.png" alt="Logo">
        </div>
    </div>
</div>
</body>
</html>