<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Devsculpt</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/header.css"/>
    <style>
    </style>
</head>
<body>
<div th:fragment="header">
    <div class="header-navbar">
        <div class="header-dropdown">
            <a href="#">Menu</a>
            <div class="header-dropdown-content">
                <a th:if="${session.user != null}" th:href="@{/dev/mypage/user/{devId}(devId=${session.user.devId})}">마이페이지</a>
                <a th:unless="${session.user != null}" th:href="@{/dev/login}">로그인</a>
                <a th:unless="${session.user != null}" th:href="@{/dev/signup}">회원가입</a>
                <a th:if="${session.user != null}" th:href="@{/logout}">로그아웃</a> <!-- Use /logout for Spring Security logout -->
                <a href="#">커뮤니티</a>
                <a href="#">지식</a>
            </div>
        </div>
        <div class="header-logo-container">
            <a th:href="@{/dev/index}">
                <img src="/assets/image/devlogo.png" alt="Logo">
            </a>
        </div>
    </div>
</div>
</body>
</html>