<!doctype html>
<html html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:if="${errorMessage}" class="text-success">
    <span th:text="${errorMessage}"></span>
    <h1>이메일이 정확하지 않습니다.</h1>
    <script>
        setTimeout(function () {
            window.location.href = "/password-search";
        }, 3000);
    </script>
</div>
</body>
</html>