<th:block th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no;maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>
    <link rel="stylesheet" th:href="@{/css/mdb.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link th:href="@{css/styles.css}" rel="stylesheet" />
    <meta th:data-resource_path="${@environment.getProperty('RESOURCE_REQUEST_PATH')}"/>

<th:block>