<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko"
      th:fragment="layout(header_type,footer_type)">
<th:block th:fragment="bottom">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<!--    <script src="text/javascript" th:src="@{/js/qs/qs.min.js}"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--    <script src="text/javascript" th:src="@{/js/axios-instance.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
    <script>
        var AppProperty = {
            path : $("meta[data-resource_path]").attr("data-resource_path")?.replace(/[*]/g,""),
        }
        Object.freeze(AppProperty);
    </script>
</th:block>
