<header th:fragment="header">
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav
    id="main-navbar"
    class="navbar navbar-light e-main-nav"
    style="background-color: #ed9715"
  >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <img
          th:src="@{/asset/logo-removebg-preview.png}"
          height="40"
          alt=""
          loading="lazy"
        />
      </a>

      <!-- Right links -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <div class="row p-2 justify-content-center cs-feed-header">
    <div class="col-4 col-sm-4 col-lg-4 text-center px-1 mb-1">
      <button class="btn btn-block border" data-id="feed-btn"
              th:onclick="|location.href='@{/content/feed}'|"
      >
        <i class="fa-solid fa-list fa-xl"></i>
      </button>
    </div>
    <div class="col-4 col-sm-4 col-lg-4 text-center px-1 mb-1">
      <button class="btn btn-block border" data-id="map-btn"
              th:onclick="|location.href='@{/content/map}'|"
      >
        <i class="fa-solid fa-location-dot fa-xl"></i>
      </button>
    </div>
    <div class="col-4 col-sm-4 col-lg-4 text-center px-1">
      <button class="btn btn-block border" data-id="rank-btn"
              th:onclick="|location.href='@{/content/rank}'|"
      >
        <i class="fa-solid fa-medal fa-xl"></i>
      </button>
    </div>
  </div>
  <!-- Navbar -->
</header>
