<header th:fragment="header" class="fragment-header">
    <div class="fragmentHeader">
        <h1 class="fragmentLogo"><a href="index.html"><img th:src="@{/assets/BASTation2.png}" alt="BAS"></a></h1>
        <nav class="fnb">
            <ul>
                <li><a href="signin">로그인</a></li>
                <li><a href="#">크리에이터 찾기 <i class="fa fa-search" aria-hidden="true"></i></a></li>
            </ul>
        </nav>
        <nav class="fnbMo"><a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a></nav>
    </div>
</header>

