<header th:fragment="header" class="fragment-header" xmlns="http://www.w3.org/1999/html">
    <div class="fragmentHeader">
        <h1 class="fragmentLogo"><a href="index.html"><img th:src="@{/assets/BASTation.png}" alt="BAS"></a></h1>
        <nav class="gnb">
            <ul>
                <li><a href="#">크리에이터 찾기 <i class="fa fa-search" aria-hidden="true"></i></a></li>
            </ul>
        </nav>

        <nav class="fnb">
            <ul>
                <li>
                    <div class="upload-img" style="width: 90px; height: 90px; border-radius: 50%; overflow: hidden;">
                        <img id="imagePreview" alt="Profile Image"
                             th:src="@{/img/users/{uuid}{fileName}(uuid=${profileImageUuid != null ? profileImageUuid : ''},
                             fileName=${profileImageFileName != null ? '_' + profileImageFileName : '' + 'ai.png'})}"
                             style="object-fit: cover; border-radius: 3px; width: 100%; height: 100%;">
                    </div>
                </li>
                <li>
                    <button
                            class="navbar-toggler collapsed"
                            type="button"
                            data-mdb-toggle="collapse"
                            data-mdb-target="#sidebarMenu"
                            aria-controls="sidebarMenu"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                    >
                        <span th:text="${booster.username}">username</span></br>
                        <span th:text="${booster.authority.authorityName}">role</span>
                    </button>
                </li>
                <li>
                    <a href="#"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bell fa-2x" aria-hidden="true" ></i></a>
                </li>


            </ul>
        </nav>
        <nav class="fnbMo"><a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a></nav>
    </div>
</header>

