<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Devsculpt</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="/assets/css/boardlist.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div th:replace="~{layout/header}"></div>
<div class="container mt-3">
    <div class="row">
        <div class="col-12 text-center mb-3">
            <h2>지식 리스트</h2>
            <!-- 검색 창 추가 -->
            <form th:action="@{'/dev/board/posts/' + ${category} + '/page/1'}" method="get">
                <div class="input-group mb-3" style="max-width: 400px; margin: auto;">
                    <input type="text" class="form-control" placeholder="검색어를 입력하세요"
                           aria-describedby="button-addon2" name="search" id="search">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                        <i class="bi bi-search"></i> 검색
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 text-md-end">
            <a th:href="@{'/dev/board/create'}" class="btn btn-dark">
                <i class="bi bi-pencil-fill"></i> 작성하기
            </a>
        </div>
    </div>

    <div class="text-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">작성자</th>
                <th scope="col">제목</th>
                <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${postList}">
                <td>
                    <div class="row align-items-center">
                        <div class="col-md-auto">
                            <img th:if="${board.profileImage != null}" th:src="'/upload/' + ${board.profileImage}"
                                 class="rounded-circle" width="30" height="30" alt="프로필 이미지"/>
                            <img th:unless="${board.profileImage != null}" th:src="@{/assets/image/defaultprofile.png}"
                                 class="rounded-circle" width="30" height="30" alt="기본 프로필 이미지"/>
                            <span th:text="${board.nickName}" class="ml-2"></span>
                        </div>
                    </div>
                </td>
                <td>
                    <a th:href="@{'/dev/board/' + ${board.boardId}}" th:text="${board.title}"></a>
                </td>
                <td th:text="${#temporals.format(board.creationDate, 'yyyy-MM-dd')}"></td>
            </tr>
            </tbody>
        </table>

        <!-- 페이징 -->
        <div class="pagination-container">
            <ul class="pagination">
                <li th:each="pageNum : ${#numbers.sequence(0, page.totalPages - 1)}" class="page-item"
                    th:class="${pageNum == page.number ? 'active' : ''}" >

                    <a th:href="@{'/dev/board/posts/' + ${category} + '/page/' + ${pageNum+1} + '?search=' + ${search}}" class="page-link"
                       th:text="${pageNum + 1}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
