<th:block th:fragment="default">
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img
                src="/asset/favicon.png"
                alt=""
                width="30"
                height="30"
                class="d-inline-block align-text-top"
        />
        <span>RestCloud</span>


      </a>
      <div class="col-1 offset-2 offset-md-5 offset-sm-6">
        <button class="navbar-toggler d-inline-block d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="d-flex">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
                    class="nav-link"

                    data-bs-toggle="collapse"
                    href="#nav-profile"
                    role="button"
                    aria-expanded="false"
                    aria-controls="nav-profile"
            >
              <img
                      src="/asset/images/no-profile.png"
                      class="cursor-pointer"
                      width="30"
              />
            </a>
          </li>
        </ul>
        <div class="navbar-nav d-none">
          <a class="nav-link" href="/login">로그인</a>
        </div>
      </div>

    </div>
  </nav>
  <div
          class="row nav-profile w-100 justify-content-end collapse g-0"
          id="nav-profile"
          style=""
  >
    <div class="card layer col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="img">
        <img src="/asset/images/no-profile.png" width="50"/>
      </div>
      <p class="text-center"><strong class="email">test@gmail.com</strong></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-center">
        <a class="btn btn-link" href="/manage/personal-info" target="_blank">계정관리</a>
        <form action="/logout" method="post">
          <button class="btn btn-link" id="nav-logout" type="submit">로그아웃</button>
        </form>
      </div>
    </div>
  </div>
</th:block>




<th:block th:fragment="nav">
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container-fluid justify-content-start">
      <div class="d-flex col-6 col-sm-3  col-md-3 col-xs-2 col-lg-2 col-xxl-1 justify-content-start">
        <a class="navbar-brand" href="/">
          <img src="/asset/favicon.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
          <span>RestCloud</span>
        </a><button class="navbar-toggler d-inline-block d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
      <div class="col-2 col-sm-5 d-md-none  d-flex justify-content-start ">

      </div>
      <div class="d-none justify-content-start d-md-block col-md-4 ">
        <div class="px-lg-3 dropdown" >
          <th:block th:replace="~{/components/project-dropdown::dropdown}"></th:block>
        </div>
      </div>
      <div class="d-flex col-2 offset-2 offset-sm-0 col-sm-4 col-md-5 col-lg-6 col-xxl-7 justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link collapsed" data-bs-toggle="collapse" href="#nav-profile" role="button" aria-expanded="false" aria-controls="nav-profile">
              <img src="/asset/images/no-profile.png" class="cursor-pointer" width="30">
            </a>
          </li>
        </ul>
        <div class="navbar-nav d-none">
          <a class="nav-link" href="/login">로그인</a>
        </div>
      </div>

    </div>
  </nav>
  <div
          class="row nav-profile w-100 justify-content-end collapse g-0"
          id="nav-profile"
          style=""
  >
    <div class="card layer col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="img">
        <img src="/asset/images/no-profile.png" width="50"/>
      </div>
      <p class="text-center"><strong class="email">test@gmail.com</strong></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-center">
        <a class="btn btn-link" href="/manage/personal-info" target="_blank">계정관리</a>
        <form action="/logout" method="post">
          <button class="btn btn-link" id="nav-logout" type="submit">로그아웃</button>
        </form>
      </div>
    </div>
  </div>
</th:block>





<th:block th:fragment="console">
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container-fluid justify-content-start">
      <div class="d-flex col-6 col-sm-3  col-md-3 col-xs-2 col-lg-2 col-xxl-1 justify-content-start">
        <a class="navbar-brand" href="/">
          <img src="/asset/favicon.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
          <span>RestCloud</span>
        </a><button class="navbar-toggler d-inline-block d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
      <div class="col-2 col-sm-5 d-md-none  d-flex justify-content-start ">

      </div>
      <div class="d-none justify-content-start d-md-block col-md-4 ">
        <div class="px-lg-3 dropdown" name="project-dropdown">
        </div>
      </div>
      <div class="d-flex col-2 offset-2 offset-sm-0 col-sm-4 col-md-5 col-lg-6 col-xxl-7 justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link collapsed" data-bs-toggle="collapse" href="#nav-profile" role="button" aria-expanded="false" aria-controls="nav-profile">
              <img src="/asset/images/no-profile.png" class="cursor-pointer" width="30">
            </a>
          </li>
        </ul>
        <div class="navbar-nav d-none">
          <a class="nav-link" href="/login">로그인</a>
        </div>
      </div>

    </div>
  </nav>
  <div
          class="row nav-profile w-100 justify-content-end collapse g-0"
          id="nav-profile"
          style=""
  >
    <div class="card layer col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="img">
        <img src="/asset/images/no-profile.png" width="50"/>
      </div>
      <p class="text-center"><strong class="email">test@gmail.com</strong></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-center">
        <a class="btn btn-link" href="/manage/personal-info" target="_blank">계정관리</a>
        <form action="/logout" method="post">
          <button class="btn btn-link" id="nav-logout" type="submit">로그아웃</button>
        </form>
      </div>
    </div>
  </div>
</th:block>


<th:block th:fragment="no-sidebar">
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img
                src="/asset/favicon.png"
                alt=""
                width="30"
                height="30"
                class="d-inline-block align-text-top"
        />
        <span>RestCloud</span>
      </a>
      <div class="d-flex">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
                    class="nav-link"

                    data-bs-toggle="collapse"
                    href="#nav-profile"
                    role="button"
                    aria-expanded="false"
                    aria-controls="nav-profile"
            >
              <img
                      src="/asset/images/no-profile.png"
                      class="cursor-pointer"
                      width="30"
              />
            </a>
          </li>
        </ul>
        <div class="navbar-nav d-none">
          <a class="nav-link" href="/login">로그인</a>
        </div>
      </div>

    </div>
  </nav>
  <div
          class="row nav-profile w-100 justify-content-end collapse g-0"
          id="nav-profile"
          style=""
  >
    <div class="card layer col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="img">
        <img src="/asset/images/no-profile.png" width="50"/>
      </div>
      <p class="text-center"><strong class="email">test@gmail.com</strong></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-center">
        <a class="btn btn-link" href="/manage/personal-info" target="_blank">계정관리</a>
        <form action="/logout" method="post">
          <button class="btn btn-link" id="nav-logout" type="submit">로그아웃</button>
        </form>
      </div>
    </div>
  </div>
</th:block>
