<th:block th:fragment="dropdown">
    <button class="btn btn-primary border-light dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
        프로젝트 선택
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item active" href="#">project1</a></li>
        <li><a class="dropdown-item" href="#">testproject</a></li>
        <li><a class="dropdown-item disabled" href="#">Something else here</a></li>
        <li><a class="dropdown-item">+ 프로젝트 등록</a></li>
    </ul>
</th:block>
