/* 스타일링 */
body {
    background-color: #212529;
    color: #ffffff; /* 높은 대비를 위한 텍스트 색상 추가 */
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* 간격을 위한 margin-top 추가 */
}

h2 {
    color: #343a40;
    text-align: center;
}

.btn-dark {
    background-color: #343a40;
    color: #ffffff;
}

.table {
    margin-top: 20px;
}

th, td {
    text-align: center;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info img {
    margin-right: 10px;
}

.input-group {
    text-align: center;
    max-width: 400px; /* 검색 입력창의 최대 너비를 늘림 */
    margin: auto;
    margin-bottom: 20px; /* 간격을 위한 margin-bottom 추가 */
}

/* a 태그의 밑줄 제거 */
a {
    text-decoration: none;
}

.pagination-container {
    margin-top: 20px;
}

.pagination {
    justify-content: center;
}

.active > .page-link,
.page-link,
.page-item.active .page-link,
.page-link:hover,
.btn-dark:hover {
    color: #ffffff;
    background-color: #343a40;
    border-color: #343a40;
}

.page-item.active .page-link,
.page-link:hover {
    color: #ffffff;
    background-color: #6c757d;
    border-color: #6c757d;
}

/* 작성하기 버튼 아이콘 스타일 */
.btn-dark i {
    margin-right: 5px;
}
/* 작성하기 버튼을 반응형으로 만들기 */
@media (max-width: 768px) {
    .col-md-7 {
        text-align: center;
    }

    .btn-dark {
        margin-right: 0;
        margin-top: 10px; /* 간격을 위한 top margin 추가 */
    }
}

/* 작성하기 버튼 위치 조정 */
@media (min-width: 768px) {
    .btn-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px; /* 원하는 간격으로 조정 */
    }
}
