/* Navigation Bar */
.header-navbar {
    background-color: #212529;
    padding: 10px;
    height: 100%;
    display: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1); /* Add a subtle border */
}
.header-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-logo-container img {
    height: 200px;
    margin: 0 auto; /* Center the image horizontally */
}

/* Dropdown Menu */
.header-dropdown {
    display: inline-block;
    position: absolute;
    background-color : #212529;
}

.header-dropdown a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
}

.header-dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Position the dropdown below the header */
    left: 0; /* Align dropdown with the left side of the header */
    background-color: #212529; /* Dropdown background color */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header-dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.header-dropdown:hover .header-dropdown-content {
    display: block;
}

/* Adjustments for mobile responsiveness */
@media screen and (max-width: 600px) {
    .header-navbar {
        flex-direction: column;
        align-items: center;
    }

    .header-dropdown {
        margin-top: 10px;
    }
}