/* 기존 스타일 유지 */

body {
    background-color: #212529 !important;
    color: #fff !important;
}

.user-page {
    margin-top: 50px;
    padding-left: 280px; /* 패딩 조정 */
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 이미지와 버튼 간격을 벌리기 위해 추가 */
}

/* 추가된 부분: 특정 input 요소에 스타일 적용 */
#name[disabled] {
    background-color: #343a40; /* 회색 배경 적용 */
    color: #fff; /* 텍스트 색상을 흰색으로 변경 */
}

.profile-image {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin-top: -185px;
    margin-left: 40px;
}

.file-input {
    cursor: pointer; /* 이미지에 커서를 포인터로 변경 */
    display: none; /* 기본 파일 업로드 input을 숨김 */
}

/* 수정된 부분: 파일 업로드 버튼 스타일 */
.file-input + label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.file-input + label:hover {
    background: rgba(0, 123, 255, 0.8); /* 투명도와 색상을 조정 */
}

/* 추가된 부분: 파일 업로드 레이블 스타일 */
.file-input + label::before {
    content: '파일 선택';
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

/* 추가된 부분: 저장하기 버튼 스타일 */
#updateForm button {
    background-color: rgba(0, 123, 255, 0.6);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    margin-left: 70px;
    margin-top: 25px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#updateForm button:hover {
    background: rgba(0, 123, 255, 0.8); /* 투명도와 색상을 조정 */
    color: #fff; /* hover 시 글자 색상 변경 */
}

/* 추가된 부분: 화면 크기가 작을 때 레이아웃 조정 */
@media screen and (max-width: 768px) {
    .profile-upload {
        margin-top: 20px;
    }

    .profile-image {
        margin-top: 0;
    }

    .file-input {
        margin-top: 10px;
    }

    #updateForm button {
        margin-top: 10px;
    }
}

/* 기존 스타일 유지 */
.sidebar {
    width: 250px; /* 사이드바 너비 조정 */
    position: fixed;
    height: 100%;
    top: 263px;
    left: 15px;
    padding-top: 0px;
    color: white;
    z-index: 1000;
}

.sidebar p {
    text-align: center; /* 내 계정 텍스트 중앙 정렬 */
    color: #007bff; /* 내 계정 텍스트 색상 변경 */
    margin-bottom: 20px; /* 내 계정 텍스트와 메뉴 간격 조정 */
}

.menu-item {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* 수정된 부분: 사이드바 메뉴 위치 조정 */
.menu-item:nth-child(2) {
    margin-top: 20px; /* 이 값은 조절 가능합니다. */
}

/* 추가된 부분: 계정관리 아이템 위치 조정 */
.menu-item:nth-child(3) {
    margin-top: 20px; /* 이 값은 조절 가능합니다. */
}

/* 수정된 부분: 사이드바 메뉴 텍스트 숨김 */
.menu-item span {
    display: none;
}

.menu-item i {
    color: #fff;
}

/* 수정된 부분: 사이드바 메뉴 hover 효과 */
.menu-item:hover {
    background: rgba(0, 123, 255, 0.8); /* 투명도와 색상을 조정 */
}

/* 추가된 부분: 활성화된 메뉴 아이템 스타일 */
.menu-item.active {
    background: rgba(0, 123, 255, 0.6); /* 활성화된 메뉴의 투명도를 줄 수 있음 */
}