<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트</title>
</head>
<body>
<section class="blogHome">
    <div class="homeContainer">
        <div th:if="${#lists.isEmpty(chargeHistoryData.amountChargedList)}">
            <p>내역이 없습니다.</p>
        </div>

        <div th:unless="${#lists.isEmpty(chargeHistoryData.amountChargedList)}" th:each="index : ${#numbers.sequence(0, chargeHistoryData.amountChargedList.size()-1)}" class="historyCard">
            <section class="creator-search-list">
                <div class="creator-search-info" style="width: 100%; text-decoration: none; color: inherit; display: flex; flex-direction: row; align-items: center;">
                        <div>
                            <img th:src="@{/assets/point.png}" style="width: 50px;">
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: space-between; width:100%">
                            <div style="display: flex; flex-direction: column; justify-content: space-between;">
                                <span>충전한 금액:<span th:text="${chargeHistoryData.amountChargedList[__${index}__]}"></span></span>
                                <span>충전한 포인트: <span th:text="${chargeHistoryData.chargePointList[__${index}__]}"></span></span>

                                <span>충전한 날짜: <span th:text="${#temporals.format(chargeHistoryData.createDates[__${index}__], 'yyyy년MM월dd일 HH시mm분ss초')}"></span></span>
                            </div>
                        </div>
                </div>
            </section>
        </div>

    </div>
</section>


</body>
</html>