<!-- header type에 따라 출력할 항목 변경 -->
<th:block th:fragment="header-switch(header_type)" th:switch="${header_type}">

        <!-- 기본 헤더 -->
        <th:block th:case="'default'">
            <div th:replace="~{layout/header :: header}"></div>
        </th:block>
        <!-- feed header -->
        <th:block th:case="'feed'">
            <div th:replace="~{layout/feed-header :: header}"></div>
        </th:block>
        <!-- 표시 안할 경우 -->
        <th:block th:case="'none'"></th:block>

        <!-- custom header1 -->
        <th:block th:case="'white'">
            <div th:replace="~{layout/header1 :: header}"></div>
        </th:block>

        <!-- 이상한 값이 입력되었을 경우 -->
        <th:block th:case="*">
            <script>console.error('헤더에 예기치 못한 값이 값이 입력되었습니다');</script>
        </th:block>

</th:block>
